server:
  port: 9003
spring:
  application:
    name: book-product # 微服务名称
  profiles:
    active: dev
  datasource:
    url: jdbc:mysql://${book-product.database.host}:3306/book-product?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&serverTimezone=Asia/Shanghai
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: ${book-product.database.password}
mybatis:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
